# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/

# Environment files
.env

# Build / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Project outputs
output/
reports_mapping/
rcl.csv

# Data lake local (datasets de carga)
data/**/*.csv
data/**/*.txt
!data/**/.gitkeep
